# Windows files should use crlf line endings
# https://help.github.com/articles/dealing-with-line-endings/
*.bat text eol=crlf

# We want to strip the development team from the committed
# Xcode project
*.pbxproj filter=xcodeTeam
