name: Android

on: [push]

jobs:
  build_android:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Node.js
      uses: actions/setup-node@v4.2.0
      with:
        node-version: 16.x
        cache: 'npm'
    - name: Install Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6
    - name: Set up environment (dependencies)
      run: scripts/setup --android --ci
    - name: Build the app
      run: bundle exec fastlane build
      working-directory: android
    - name: Upload apk as artifact
      uses: actions/upload-artifact@v3
      with:
        name: app-release
        path: android/app/build/outputs/apk/release/app-release.apk
